[submodule "lib/EmbeddedMqttBroker"]
	path = lib/EmbeddedMqttBroker
	url = https://github.com/alexCajas/EmbeddedMqttBroker.git
[submodule "lib/WrapperFreeRTOS"]
	path = lib/WrapperFreeRTOS
	url = https://github.com/alexCajas/WrapperFreeRTOS.git
